{% load markdownify %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{project.name}}</h1>
                <p>{{project.description|markdownify}}</p>
                <h2>Tasks</h2>
                {% if project.tasks.all %}
                    <table>
                        <thead>
                            <td>Name</td>
                            <td>Assignee</td>
                            <td>Start date</td>
                            <td>Due date</td>
                            <td>Is completed</td>
                        </thead>

                        <tbody>
                            {% for task in project.tasks.all %}
                                <tr>
                                    <td>{{task.name}}</td>
                                    <td>{{task.assignee}}</td>
                                    <td>{{task.start_date}}</td>
                                    <td>{{task.due_date}}</td>
                                    {% if item.is_completed == True%}
                                        <td>Yes</td>
                                    {% else %}
                                        <td>No</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>This project has no tasks</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
